@import "../variables.css";
@import "../breakpoints.css";
@import "../base.css";

.c-one-col-block {
  padding: var(--layout-spacer3) 84px;

  @media (--small-breakpoint-down) {
    padding: var(--layout-spacer2) var(--layout-spacer1);
  }

  &__header-title {
    margin-block: 0 var(--layout-spacer1);
    font-family: var(--font-serif);
    font-size: var(--font-size-h2);
    line-height: 1.2;
    text-align: center;

    @media (--small-breakpoint-down) {
      font-size: var(--font-size-h4);
    }

    > span {
      background-image:linear-gradient(var(--color-yellow), var(--color-yellow));
      background-position: 0 100%;
      background-size: 100% 8px;
      background-repeat: no-repeat;
    }
  }

  &__content {
    text-align: center;
  }

  &__text-left-align {
    width: 100%;
    max-width: 580px;
    margin-inline: auto;
    text-align: left;
  }

  &__resources {
    display: flex;
    justify-content: center;
    max-width: 100%;

    @media (--small-breakpoint-down) {
      display: block;
    }
  }

  &__resources-links {
    flex-basis: 24%;

    @media (--medium-breakpoint) {
      flex-basis: 30%;
    }

    @media (--small-breakpoint-down) {
      &:last-child {
        margin-top: 12px;
      }
    }
  }
}

.bg-50-50 {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 30%;
    height: 50%;
    z-index: -50;
    background-color: hsl(0, 0%, 90%);
    @media (--small-breakpoint-down) {
      height: 30%;
    }
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    z-index: -100;
    background: var(--gradient-rainbow);

    @media (--small-breakpoint-down) {
      height: 70%;
    }
  }
}

/* .c-one-col-block override */
.take-action-block {
  width: calc(100% / 1.5);
  padding: var(--layout-spacer2) 12%;
  border-bottom: 8px solid var(--color-yellow);

  @media (--small-breakpoint-down) {
    width: calc(100% - 24px);
    margin-inline: 12px;
    padding: var(--layout-spacer1) 12px;
  }

  .c-one-col-block__content {
    text-align: left;
  }
}
