@import "../variables.css";
@import "../breakpoints.css";
@import "../base.css";

.c-about-header-block {
  padding: var(--layout-spacer1) 84px var(--layout-spacer2);

  @media (--small-breakpoint-down) {
    padding: 24px 12px;
  }

  &__header-title {
    font-family: var(--font-serif);
    font-size: var(--font-size-h1);
    text-align: center;

    @media (--small-breakpoint-down) {
      font-size: var(--font-size-h4);
    }
  }
}

.c-about-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 24px;

  @media (--small-breakpoint-down) {
    display: block;
  }

  &__col-left {
    display: flex;
    align-items: center;
    padding-inline: 36px;
    background-color: var(--color-yellow);

    @media (--small-breakpoint-down) {
      padding-inline: 24px;
    }

    > p {
      font-weight: var(--fw-700);
    }
  }
}
