@import "../variables.css";
@import "../breakpoints.css";
@import "../base.css";

.container {
  width: var(--container-width);
  max-width: var(--container-max-width);
  margin: 0 auto;
}

.container--small {
  width: var(--small-container-width);
  max-width: var(--small-container-max-width);
  margin: 0 auto;
}

.container--x-small {
  width: var(--x-small-container-width);
  max-width: var(--x-small-container-max-width);
  margin: 0 auto;
}

.t-section-sm {
  padding-block: var(--layout-spacer2);

  @media (--small-breakpoint-down) {
    padding-block: var(--layout-spacer1);
  }
}

.t-section-lg {

}

/* Backgrounds */
.t-gray-image-background {
  background-image: url('../../images/bg-gray.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.t-gradient-background {
  background: var(--gradient-rainbow);
}