@import "../variables.css";
@import "../breakpoints.css";
@import "../base.css";

.c-num-highlight {

  &__headerH2 {
    font-family: var(--font-serif);
    font-size: var(--font-size-h3);
    line-height: 1.2;
    text-align: center;

    @media (--small-breakpoint-down) {
      font-size: calc(var(--font-size-h4) / 1.2);
    }
  }

  &__headerH3 {
    font-family: var(--font-stack-regular);
    font-size: calc(var(--font-size-h4) / 1.4);
    line-height: 1.2;
    text-align: center;
  }

  &__stats-text {
    font-weight: var(--fw-700);

    @media (--small-breakpoint-down) {
      text-align: center;
    }
  }

  &__stats-num {
    position: relative;
    margin: 0;
    font-family: var(--font-serif);
    font-size: calc(var(--font-size-h2) * 2.25);
    font-weight: var(--fw-700);
    line-height: 1;

    > span {
      display: inline-block;
      font-size: 65%;
      line-height: 1;
      transform: translateY(-32%);
    }
  }

  &__image {
    width: 100%;
    max-width: 180px;
    max-height: 150px;
    object-fit: contain;


    @media (--small-breakpoint-down) {
      max-width: 120px;
      max-height: 100px;
    }
  }

  &__row {
    align-items: center;
    width: 100%;
    max-width: 800px;
    margin: var(--layout-spacer1) auto;

    &:nth-of-type(1) {
      margin-top: var(--layout-spacer2);

      @media (--small-breakpoint-down) {
        margin-top: var(--layout-spacer1);

      }
    }

    &:last-child {
      margin-bottom: 0;
    }

    &--reverse {
      flex-direction: row-reverse;
    }
  }

  &__green {
    color: var(--color-green);
  }

  &__dark-green {
    color: var(--color-dark-green);
  }

  &__purple {
    color: var(--color-purple);
  }

  &__dark-purple {
    color: var(--color-dark-purple);
  }

  @media (--small-breakpoint-down) {
    .row {
      justify-content: center;

      > div {
        display: flex;
        justify-content: center;
        width: 100%;
      }
    }
  }
}