@import "../variables.css";
@import "../breakpoints.css";
@import "../base.css";

.header {
  background: var(--color-dark-gray);
  color: white;
  position: fixed;
  width: 100%;
  top: 0;
  height: 163px;
  z-index: 2000;

  @media (--nav-breakpoint-down) {
    position: static;
    height: auto;
  }

  + * {
    margin-top: 163px;

    @media (--nav-breakpoint-down) {
      margin-top: 0;
    }
  }

  .container {
    position: relative;
  }

  &__base-gradient {
    width: 100%;
    height: 18px;
    background-image: var(--gradient-rainbow);

    @media (--nav-breakpoint-down) {
      height: 12px;
    }
  }

  &__grid {
    display: flex;
    justify-content: space-between;
  }

  &__col-left {
    width: 230px;

    @media (--nav-breakpoint-down) {
      position: absolute;
      left: 0;
    }
  }

  &__col-right {
    width: calc(100% - 230px);
    display: flex;
    justify-content: flex-end;
    flex-direction: column;

    @media (--nav-breakpoint-down) {
      width: 100%;
      justify-content: flex-end;
    }
  }

  &__help-area {
    @media (--large-breakpoint-down) {
      font-size: 14px;
    }

    @media (--nav-breakpoint-down) {
      display: none;
    }
  }

  &__help-area-mobile {
    display: none;

    @media (--nav-breakpoint-down) {
      display: block;
      background: black;
      padding: 6px 0;
      font-size: 14px;
    }
  }

  &__top-menu {
    display: flex;
    justify-content: space-between;

    @media (--nav-breakpoint-down) {
      align-self: flex-end;
    }
  }

  &__utility-nav {
    padding-bottom: 30px;

    @media (--nav-breakpoint-down) {
      padding-bottom: 5px;
      padding-top: 25px;
    }

    ul {
      margin: 0;
      padding: 0;
    }

    li {
      display: inline-block;
      list-style-type: none;
      margin-left: 20px;

      &:first-child {
        margin-left: 0;
      }

      @media (--nav-breakpoint-down) {
        display: block;
        text-align: right;
        margin-bottom: 2px;
      }
    }

    a {
      color: white;
      text-decoration: none;
      transition: .2s ease all;

      &:hover {
        color: var(--color-yellow);
        transition: .2s ease all;
      }

      @media (--large-breakpoint-down) {
        font-size: 14px;
        font-weight: 600;
      }
    }
  }

  &__bottom-menu {
    width: 100%;

    @media (--nav-breakpoint-down) {
      margin-top: 15px;
    }

    ul {
      display: flex;
      width: 100%;
      margin: 0;
      padding: 0;
    }

    li {
      width: 25%;
      list-style-type: none;

      &:first-child {
        a { 
          border-left: 1px solid white;
        }
      }
    }

    a {
      padding: 8px;
      color: white;
      font-weight: 700;
      text-align: center;
      text-decoration: none;
      border-right: 1px solid white;
      width: 100%;
      display: inline-block;
      background: var(--color-light-gray);
      position: relative;
      border-top: 1px solid var(--color-dark-gray);

      @media (--large-breakpoint-down) {
        font-size: 14px;
      }
    }

    li:nth-child(1) {
      a:hover,
      a.is-active-nav-item {
        background: var(--color-yellow);
        color: black;
        border-top: 1px solid white;

        &::after {
          position: absolute;
          bottom: -7px;
          left: 0;
          content: '';
          z-index: 999;
          width: 100%;
          height: 7px;
          border-radius: 0 0 20px 20px;
          background: var(--color-yellow);
          border-bottom: 1px solid white;
        }
      }
    }
    
    li:nth-child(2) {
      a:hover,
      a.is-active-nav-item {
        background: var(--color-green);
        color: white;
        border-top: 1px solid white;

        &::after {
          position: absolute;
          bottom: -7px;
          left: 0;
          content: '';
          z-index: 999;
          width: 100%;
          height: 7px;
          border-radius: 0 0 20px 20px;
          background: var(--color-green);
          border-bottom: 1px solid white;
        }
      }
    }

    li:nth-child(3) {
      a:hover,
      a.is-active-nav-item {
        background: var(--color-blue);
        color: white;
        border-top: 1px solid white;

        &::after {
          position: absolute;
          bottom: -7px;
          left: 0;
          content: '';
          z-index: 999;
          width: 100%;
          height: 7px;
          border-radius: 0 0 20px 20px;
          background: var(--color-blue);
          border-bottom: 1px solid white;
        }
      }
    }

    li:nth-child(4) {
      a:hover,
      a.is-active-nav-item {
        background: var(--color-purple);
        color: white;
        border-top: 1px solid white;

        &::after {
          position: absolute;
          bottom: -7px;
          left: 0;
          content: '';
          z-index: 999;
          width: 100%;
          height: 7px;
          border-radius: 0 0 20px 20px;
          background: var(--color-purple);
          border-bottom: 1px solid white;
        }
      }
    }
  }

  &__logo {
    padding: 20px 0;

    @media (--nav-breakpoint-down) {
      padding: 12px 0;
    }

    a {
      color: var(--color-yellow);
      font-family: var(--font-serif);
      font-weight: 400;
      font-size: 34px;
      text-decoration: none;
      line-height: 1;

      @media (--nav-breakpoint-down) {
        font-size: 24px;
        line-height: .9;
      }
    
      span {
        font-weight: 700;
      }
    }
  }

  &__back-to-top {
    position: absolute;
    bottom: 0;
    right: -40px;
    z-index: 3000;
    cursor: pointer;
    display: none;
    transform: .2s ease all;

    @media (--nav-breakpoint-down) {
      display: none;
    }

    svg {
      fill: #fff;
      path: #fff;
      transform: rotate(180deg);
      width: 30px;
    }

    &:hover {
      transform: .2s ease all;

      svg {
        fill: var(--color-yellow);
        path: var(--color-yellow);
      }
    }
  }

  &--user-has-scrolled {
    position: fixed;
    width: 100%;
    top: 0;
    height: 116px;

    + * {
      margin-top: 116px;
    }

    .header__back-to-top {
      display: block;
    }

    .header__logo {
      padding: 10px 0;
      line-height: .95;

      a { 
        font-size: 26px;
      }
    }

    .header__utility-nav {
      padding-bottom: 15px;
    }
  }
}

.about-project-page,
.take-action-page {
  .header__bottom-menu,
  .header__back-to-top {
    display: none;
  }

  .header__logo a {
    color: white;
  }

  .header__col-right {
    justify-content: center;
  }

  .header__utility-nav {
    padding-bottom: 0;

    a {
      font-weight: 800;
    }
  }
}

.about-project-page {
  .header__utility-nav {
    li {
      &:first-child {
        a {
          color: var(--color-yellow);
        }
      }
    }
  }
}

.take-action-page {
  .header__utility-nav {
    li {
      &:last-child {
        a {
          color: var(--color-yellow);
        }
      }
    }
  }
}