@import "variables.css";
@import "breakpoints.css";

*,
*:before,
*:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-kerning: auto;
  font-kerning: auto;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-stack-regular);
  font-weight: var(--fw-300);
  line-height: 1.5;
  color: var(--color-dark-gray);
}

img,
video,
iframe {
  max-width: 100%;
  display: block;
}

p {
  font-size: var(--font-size-body-lg);
  color: var(--color-dark-gray);

  @media (--small-breakpoint-down) {
    font-size: var(--font-size-body);
  }
}

/* Grid */
.row {
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;

  &--justify-content-center {
    justify-content: center;
  }

  .col {
    &-1-12 {
      width: calc(8.33% - var(--gutter-width));
    }

    &-1-6 {
      width: calc(16.66% - var(--gutter-width));
    }

    &-1-4 {
      width: calc(25% - var(--gutter-width));
    }

    &-1-3 {
      width: calc(33.33% - var(--gutter-width));
    }

    &-5-12 {
      width: calc(41.66% - var(--gutter-width));
    }

    &-1-2 {
      width: calc(50% - var(--gutter-width));
    }

    &-7-12 {
      width: calc(58.33% - var(--gutter-width));
    }

    &-2-3 {
      width: calc(66.66% - var(--gutter-width));
    }

    &-3-4 {
      width: calc(75% - var(--gutter-width));
    }

    &-5-6 {
      width: calc(83.33% - var(--gutter-width));
    }

    &-11-12 {
      width: calc(91.66% - var(--gutter-width));
    }

    &-full-width {
      width: 100%;
    }
  }
}

/* Buttons */
.btn {
  display: inline-block;
  text-align: center;
  text-decoration: none;

  &--outlined {
    border: 1px solid white;
    border-radius: 30px;
    padding: 8px 16px;
  }
}

/* Links */
.o-body-text-link {
  font-weight: var(--fw-700);
  color: var(--color-blue);
}

/* Screen Readers */
.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* Typography */
.dropcap {
  font-family: var(--font-stack-regular);
  font-weight: 800;
  color: white;
  float: left;
  font-size: 53px;
  line-height: 1.1;
  margin: 0.1em .3em 0.2em 0;
  padding: 25px;

  &--dark-green {
    background: var(--color-green);
  }

  &--dark-blue {
    background: var(--color-dark-blue);
  }

  &--dark-purple {
    background: var(--color-dark-purple);
  }
}

.dropcap:before,
.dropcap:after {
  content: "";
  display: block;
}

.dropcap:before {
  margin-top: -0.2em;
}

.dropcap:after {
  margin-bottom: -0.15em;
}

/* Utilities */
.text-center {
  text-align: center;
}

.text-serif {
  font-family: var(--font-serif);
}

.text-color-dark-blue {
  color: var(--color-dark-blue);
}
