@import "variables.css";
@import "breakpoints.css";

*,
*:before,
*:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-stack-regular);
  font-weight: 300;
}

img,
video,
iframe {
  max-width: 100%;
  display: block;
}

/* Buttons */
.btn {
  display: inline-block;
  text-align: center;
  text-decoration: none;

  &--outlined {
    border: 1px solid white;
    border-radius: 30px;
    padding: 8px 16px;
  }
}
