/*
Usage:

To set 0 padding on an element when the viewport is between 441px and 760px
  @media (--small-breakpoint) {
    padding: 0;
  }

To set 0 padding on an element when the viewport is 760px or less
  @media (--small-breakpoint-down) {
    padding: 0;
  }

To set 0 padding on an element when the viewport is 441px or greater
  @media (--small-breakpoint-up) {
    padding: 0;
  }

*/

/* Viewport Specific */
@custom-media --extra-small-breakpoint (max-width: 440px);
@custom-media --small-breakpoint (min-width: 441px) and (max-width: 760px);
@custom-media --medium-breakpoint (min-width: 761px) and (max-width: 960px);
@custom-media --large-breakpoint (min-width: 961px) and (max-width: 1200px);
@custom-media --extra-large-breakpoint (min-width: 1201px);

/* Up and down */
@custom-media --extra-small-breakpoint-down (max-width: 440px);

@custom-media --small-breakpoint-down (max-width: 760px);
@custom-media --small-breakpoint-up (min-width: 441px);

@custom-media --medium-breakpoint-down (max-width: 960px);
@custom-media --medium-breakpoint-up (min-width: 761px);

@custom-media --large-breakpoint-down (max-width: 1200px);
@custom-media --large-breakpoint-up (min-width: 961px);

@custom-media --x-large-breakpoint-down (max-width: 1400px);
@custom-media --x-large-breakpoint-up (min-width: 1201px);

/* Accessibility Viewport */
@custom-media --motion-no-preference (prefers-reduced-motion: no-preference);