:root {
  /* Colors */
  --color-dark-gray: #363737;
  --color-light-gray: #5F5F5F;
  --color-purple: #734FB1;
  --color-light-purple: #AB8DDE;
  --color-blue: #0066A4;
  --color-dark-blue: #0C4060;
  --color-light-blue: #00A8E0;
  --color-green: #1D8019;
  --color-light-green: #47AA42;
  --color-yellow: #FFBB1B;
  --color-light-yellow: #FFCD3B;

  /* Gradients */
--gradient-rainbow: linear-gradient(90deg, rgba(255, 187, 27, 1) 0%, rgba(71, 170, 66, 1) 40%, rgba(0, 102, 164, 1) 60%, rgba(115, 79, 177, 1) 100%);

  /* Fonts */
  --font-stack-regular: 'Merriweather Sans', Helvetica, Arial, sans-serif;
  --font-serif: 'jubilat', Georgia, sans-serif;

  /* Typography */
  --font-size-h1: 96px;
  --font-size-h2: 60px;
  --font-size-h3: 40px;
  --font-size-h4: 22px;

  --line-height-h1: 110px;
  --line-height-h2: 72px;
  --line-height-h3: 56px;
  --line-height-h4: 36px;

  /* Layout */
  --mega-menu-width: 480px;
  --container-width: 92%;
  --container-max-width: 1280px;

  --small-container-width: 92%;
  --small-container-max-width: 1000px;

  --x-small-container-width: 92%;
  --x-small-container-max-width: 800px;
}