@import "../variables.css";
@import "../breakpoints.css";
@import "../base.css";

.footer {
  padding: 35px 0 0;
  background: var(--color-dark-gray);
  color: white;

  a {
    color: white;
  }

  &__title {
    padding-bottom: 40px;
    font-family: var(--font-serif);
    font-weight: 400;
    font-size: 30px;

    span {
      font-weight: 700;
    }
  }

  &__grid {
    display: flex;
    justify-content: space-between;
    padding-bottom: 3rem;

    @media (--medium-breakpoint-down) {
      flex-direction: column;      
    }
  }

  &__col-left {
    width: 45%;
    padding-right: 60px;
    border-right: 1px solid white;
    display: flex;
    justify-content: space-between;

    @media (--medium-breakpoint-down) {
      width: 100%;
      padding-right: 0;
      border-right: none;
      margin-bottom: 40px;
    }
  }

  &__col-right {
    width: 55%;
    padding-left: 60px;

    @media (--medium-breakpoint-down) {
      width: 100%;
      padding-left: 0;
      border-top: 1px solid white;
      padding-top: 30px;
    }
  }

  &__download-cta {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  &__nav {
    display: flex;
    justify-content: center;
    flex-direction: column;

    ul {
      margin: 0;
      padding: 0;
    }

    li {
      margin-bottom: 16px;
      letter-spacing: .48px;
      list-style-type: none;

      &:last-child {
        margin-bottom: 0;
      }
    }

    a {
      text-decoration: none;
      text-transform: uppercase;
      font-weight: 700;

      &:hover {
        color: var(--color-yellow);
      }
    }
  }

  &__logo-block {
    ul {
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: space-between;
    }

    li {
      display: inline-block;
      padding: 0 10px;

      &:first-child {
        padding: 0 10px 0 0;
      }

      &:last-child {
        padding: 0 0 10px;
      }
    }

    img {
      filter: brightness(0) invert(1);
      max-height: 65px;
    }
  }

  &__sponsor-title {
    font-weight: 700;
    padding-bottom: 20px;
  }

  &__base-gradient {
    width: 100%;
    height: 36px;
    padding: 8px 0;
    background-image: var(--gradient-rainbow);
  }

  &__copyright {
    color: white;
    text-align: right;
  }
}